---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import TravelSection from '../components/TravelSection.astro';
import SocialSection from '../components/SocialSection.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Juwassy - Couple Travel Blog | Tech Tips & Life Journey">
  <Header />
  <main>
    <Hero />
    <About />
    <TravelSection />
    <SocialSection />
  </main>
  <Footer />
</Layout>